@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@import 'layout.less';
@import 'sortable.less';
@import 'configuration.less';

.container .credit {
  margin: 20px 0;
}

.box {
  outline:    2px dashed @gray;
  padding:    @padding-base-vertical;
  height:     100%;
  background: @gray-lighter;
  border:     @padding-base-vertical solid @body-bg;
  overflow:   scroll;
}

.tree-list {
  list-style-type: none;
  margin-left:     -10px;
}

.data-sample {
  color: @gray-light;
}
