<span>{{ internalName }}</span>
<button class="btn btn-success" type="button" ng-click="sendTransformations()" ng-class="{'disabled':tabs.length == 0}">Run all transformations</button>
<tabset>
  <tab ng-repeat="tab in tabs" heading="{{ tab.title }}" active="tab.active" select="switchTab(tab)">
    <button class="btn btn-primary" type="button" ng-click="sendTransformation(tab)">Run Transformation</button>
  </tab>
</tabset>
<div class="transformation-container">
  <div class="function component function-source"
       ng-show="sourceComponent"
       connect-with="{'.function-target': targetComponent}"
       connect-when="sourceComponent"
       ng-click="onFilterClick(sourceComponent)">
    <div>
      <span>{{ sourceComponent.payload.name }}</span>
    </div>
  </div>
  <ul class="function-sortable" ng-show="showSortable" ng-class="{bigger:!components.length}">
    <li ng-repeat="component in components" class="function component"
        ng-class="'function-'+component.componentType" dmp-connectible
        ng-click="onFunctionClick(component)">
      <div ng-switch on="component.componentType">
        <span ng-switch-when="fun">{{ component.payload.name }}</span>
        <span ng-switch-when="source">{{ component.payload.name }}</span>
        <span ng-switch-when="target">{{ component.payload.name }}</span>
        <span ng-switch-default></span>
      </div>
    </li>
  </ul>
  <div class="function component function-target"
       ng-show="targetComponent"
       ng-click="onFilterClick(targetComponent)">
    <div>
      <span>{{ targetComponent.payload.name }}</span>
    </div>
  </div>
</div>
