<div>
  <span ng-click="expandCollapse(data)"
        ng-mousedown="handleClick($event, data)"
        ng-class="{'tree-leaf':isLeaf(data)}"
        dmp-endpoint source="isSource && isLeaf(data)" js-plumb-source-options="jspSourceOptions"
        target="isTarget && isLeaf(data)" js-plumb-target-options="jspTargetOptions">
    <i class="glyphicon" ng-class="chevron(data)"></i>
    {{data.name}}
    <small ng-show="data.title && !data.editableTitle" class="data-sample"> &nbsp; {{data.title}}</small>

    <small ng-show="data.editableTitle && !data.hasChildren" class="data-sample"> &nbsp; <input type="text" ng-model="data.title" ng-change="update()"></small>

  </span>
  <ul ng-show="data.show" class="tree-list">
    <li ng-repeat="child in data.children">
      <tree data="child" internal></tree>
    </li>
  </ul>
</div>
