<div>
  <span ng-click="expandCollapse(data)"
        ng-mousedown="handleClick($event, data)"
        ng-class="{'tree-leaf':isLeaf(data)}"
        dmp-endpoint source="isLeaf(data)" js-plumb-options="{container:'schema'}">
    <i class="glyphicon" ng-class="chevron(data)"></i>
    {{data.name}}
    <small ng-show="data.title" class="data-sample"> &nbsp; {{data.title }}</small>
  </span>
  <ul ng-show="data.show" class="tree-list">
    <li ng-repeat="child in data.children">
      <tree data="child" internal></tree>
    </li>
  </ul>
</div>
