<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="FAT" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/trace/messages.log" />
		<param name="Threshold" value="TRACE" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FAD" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/debug/messages.log" />
		<param name="Threshold" value="DEBUG" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FAI" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/info/messages.log" />
		<param name="Threshold" value="INFO" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FAW" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/warn/messages.log" />
		<param name="Threshold" value="WARN" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FAE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/error/messages.log" />
		<param name="Threshold" value="ERROR" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FAF" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${logging_root_path}/logs/dmp/fatal/messages.log" />
		<param name="Threshold" value="FATAL" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="DEFAULT" class="org.apache.log4j.RollingFileAppender">
		<param name="File"
			value="${logging_root_path}/logs/default/info/messages.log" />
		<param name="Threshold" value="INFO" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601}%-4r [%t] %-5p %c %x (%F\:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="de.avgl">
		<appender-ref ref="FAT" />
		<appender-ref ref="FAD" />
		<appender-ref ref="FAI" />
		<appender-ref ref="FAW" />
		<appender-ref ref="FAE" />
		<appender-ref ref="FAF" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="DEFAULT" />
	</root>
</log4j:configuration>
