<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

	<appender name="FAT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/dmp/trace/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${logging_root_path}/dmp/trace/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FAD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/dmp/debug/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging_root_path}/dmp/debug/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FAI" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/dmp/info/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging_root_path}/dmp/info/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FAW" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/dmp/warn/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging_root_path}/dmp/warn/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FAE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/dmp/error/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging_root_path}/dmp/error/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%date %level %marker [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging_root_path}/default/info/messages.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logging_root_path}/default/info/messages.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%date %level [%thread] %logger [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.dswarm">
		<appender-ref ref="FAT"/>
		<appender-ref ref="FAD"/>
		<appender-ref ref="FAI"/>
		<appender-ref ref="FAW"/>
		<appender-ref ref="FAE"/>
	</logger>

	<root level="ALL">
		<appender-ref ref="DEFAULT"/>
	</root>
</configuration>
